#ignore all kind of files
*
#except php files
!*.py
!*.ipynb
!*.yml
!*.txt
!Dockerfile
!src/
!docker_master_thesis/
!src/conv2d_mat_mul
!src/drift
!src/drift/Concept Drift (Data)
!src/utils
!src/ensembles
!src/federated
!src/shareable_pages
!src/shareable_pages/deduplicator
!src/shareable_pages/jupyter
!.gitignore
